
/* 引入全局样式： 样式重置，定义全局的css等。。。 */
@import './assets/css/reset.css';
/* react： 各个组件的css文件是互相影响的
解决方法：
1.class命名不要重复

工具：实现命名唯一
2. CSS Modules模块化（react脚手架自，文件命名格式 cities.module.css
 引入 import styles from 'cities.module.css'
 使用  <b className={styles.类名}></b>
 ）

3. Styled-component


node-sass 安装步骤
https://blog.csdn.net/purple_lumpy/article/details/87860358
安装：
cnpm i -D node-sass
使用：文件后缀改为.scss


UI mobile框架
https://mobile.ant.design/index-cn

 */
/**
    根节点的样式高度百分百，全局颜色
*/
 #root{
    height: 100%;
    background: #f5f5f5;
}
